<div>
	<div class="row">
		<div class="col">
			<my-todo-header [header]="header" (onFilterChange)="onFilterChange()" 
			(onSubmit)="onSubmit($event)"></my-todo-header>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<ul class="list-unstyled">
				<li *ngFor="let todo of todos">
					<my-todo-list-item [todo]="todo" (onSave)="onSaveField($event)" 
					(onDelete)="onDelete($event)"></my-todo-list-item>
				</li>
			</ul>
		</div>
	</div>

	<div class="row justify-content-center">
		<my-pager [page]="page" (onPageChange)="onPageChange()"></my-pager>
	</div>
</div>
